body {
    background-image: url('old_map.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial Black', sans-serif;
    text-align: center;
}

.welcome-message {
    color: #8B4513;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px dashed #8B4513;
    text-align: center;
    width: fit-content;
    margin: 20px auto 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}